USE [master]
GO
/****** Object:  Database [WORLD MUSIC ASSOCIATION]    Script Date: 1.11.2025 20:27:57 ******/
CREATE DATABASE [WORLD MUSIC ASSOCIATION]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WORLD MUSIC ASSOCIATION', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WORLD MUSIC ASSOCIATION.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WORLD MUSIC ASSOCIATION_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WORLD MUSIC ASSOCIATION_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WORLD MUSIC ASSOCIATION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WORLD MUSIC ASSOCIATION]
GO
/****** Object:  Table [dbo].[Composer]    Script Date: 1.11.2025 20:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Composer](
	[Name] [varchar](200) NOT NULL,
	[Country] [varchar](100) NULL,
	[DateOfBirth] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Composition]    Script Date: 1.11.2025 20:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Composition](
	[CompositionName] [varchar](200) NOT NULL,
	[ComposerName] [varchar](200) NOT NULL,
	[YearComposed] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CompositionName] ASC,
	[ComposerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Degree]    Script Date: 1.11.2025 20:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Degree](
	[MusicianNumber] [int] NOT NULL,
	[DegreeName] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MusicianNumber] ASC,
	[DegreeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musician]    Script Date: 1.11.2025 20:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musician](
	[MusicianNumber] [int] NOT NULL,
	[Name] [varchar](200) NULL,
	[Instrument] [varchar](100) NULL,
	[AnnualSalary] [decimal](12, 2) NULL,
	[OrchestraName] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MusicianNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orchestra]    Script Date: 1.11.2025 20:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orchestra](
	[Name] [varchar](200) NOT NULL,
	[City] [varchar](100) NULL,
	[Country] [varchar](100) NULL,
	[MusicDirector] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recording]    Script Date: 1.11.2025 20:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recording](
	[OrchestraName] [varchar](200) NOT NULL,
	[CompositionName] [varchar](200) NOT NULL,
	[ComposerName] [varchar](200) NOT NULL,
	[Year] [int] NULL,
	[Price] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrchestraName] ASC,
	[CompositionName] ASC,
	[ComposerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Composition]  WITH CHECK ADD FOREIGN KEY([ComposerName])
REFERENCES [dbo].[Composer] ([Name])
GO
ALTER TABLE [dbo].[Degree]  WITH CHECK ADD FOREIGN KEY([MusicianNumber])
REFERENCES [dbo].[Musician] ([MusicianNumber])
GO
ALTER TABLE [dbo].[Musician]  WITH CHECK ADD FOREIGN KEY([OrchestraName])
REFERENCES [dbo].[Orchestra] ([Name])
GO
ALTER TABLE [dbo].[Recording]  WITH CHECK ADD FOREIGN KEY([CompositionName], [ComposerName])
REFERENCES [dbo].[Composition] ([CompositionName], [ComposerName])
GO
ALTER TABLE [dbo].[Recording]  WITH CHECK ADD FOREIGN KEY([OrchestraName])
REFERENCES [dbo].[Orchestra] ([Name])
GO
USE [master]
GO
