USE [master]
GO
/****** Object:  Database [LUCKY RENT-A-CAR]    Script Date: 1.11.2025 20:28:47 ******/
CREATE DATABASE [LUCKY RENT-A-CAR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LUCKY RENT-A-CAR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LUCKY RENT-A-CAR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LUCKY RENT-A-CAR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LUCKY RENT-A-CAR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LUCKY RENT-A-CAR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LUCKY RENT-A-CAR]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 1.11.2025 20:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[SerialNumber] [varchar](100) NOT NULL,
	[Model] [varchar](100) NULL,
	[Year] [int] NULL,
	[Class] [varchar](50) NULL,
	[ManufacturerName] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 1.11.2025 20:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerNumber] [int] NOT NULL,
	[CustomerName] [varchar](200) NULL,
	[Address] [varchar](300) NULL,
	[CreditRating] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceEvent]    Script Date: 1.11.2025 20:28:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceEvent](
	[RepairNumber] [int] NOT NULL,
	[CarSerialNumber] [varchar](100) NOT NULL,
	[Date] [date] NULL,
	[_Procedure] [varchar](200) NULL,
	[Mileage] [int] NULL,
	[RepairTime] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[RepairNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 1.11.2025 20:28:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[Name] [varchar](200) NOT NULL,
	[Country] [varchar](100) NULL,
	[SalesRepName] [varchar](200) NULL,
	[SalesRepNumber] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rental]    Script Date: 1.11.2025 20:28:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rental](
	[CarSerialNumber] [varchar](100) NOT NULL,
	[CustomerNumber] [int] NOT NULL,
	[RentalDate] [date] NULL,
	[ReturnDate] [date] NULL,
	[TotalCost] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CarSerialNumber] ASC,
	[CustomerNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([ManufacturerName])
REFERENCES [dbo].[Manufacturer] ([Name])
GO
ALTER TABLE [dbo].[MaintenanceEvent]  WITH CHECK ADD FOREIGN KEY([CarSerialNumber])
REFERENCES [dbo].[Car] ([SerialNumber])
GO
ALTER TABLE [dbo].[Rental]  WITH CHECK ADD FOREIGN KEY([CarSerialNumber])
REFERENCES [dbo].[Car] ([SerialNumber])
GO
ALTER TABLE [dbo].[Rental]  WITH CHECK ADD FOREIGN KEY([CustomerNumber])
REFERENCES [dbo].[Customer] ([CustomerNumber])
GO
USE [master]
GO
